html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

body {
    background-image: url('./img/leaves.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    -moz-scrollbar-width: thin;
    scrollbar-width: thin;
    -moz-scrollbar-color: 99bd03 #99bd03;
    scrollbar-color: yellowgreen #99bd03;
    padding-right: 0px !important;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: yellowgreen;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 1px solid rgb(165, 235, 26);
}

::selection {
    background-color: yellowgreen;
    color: black;
}

.product-list .decriptions {
    color: #fcd659;
    font-size: 16px;
}

.product-list .descriptions-block {
    padding-top: 0;
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-heading {
    border-color: #eff2f7;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
    position: relative;
}
.panel-heading::before {
    content: '';
    position: absolute;
    height: 60%;
    bottom: 50%;
    left: -5px;
    transform: translate(0, 50%);
    border-left: 3px solid #99bd03;
}

.panel-title {
    color: #2a3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-filter {
    background-color: #99bd03;
    color: white;
    font-weight: 700;
}

.prod-cat li a {
    border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
    color: #3b3b3b;
}

.prod-cat li ul {
    margin-left: 30px;
    display: block;
}

.prod-cat li ul li a {
    border-bottom: none;
}

.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
    background: none;
    color: #ff7261;
}

.pro-lab {
    margin-right: 20px;
    font-weight: normal;
}

.pro-sort {
    padding-right: 20px;
    float: left;
}

.pro-page-list {
    margin: 5px 0 0 0;
}
.pagination-sm > li > a {
    font-weight: 500;
    color: black;
}

.product-list img {
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
    position: relative;
}

.adtocart {
    background: #fc5959;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 3px solid #fff;
    left: 45%;
    bottom: -25px;
    position: absolute;
}

.adtocart i {
    color: #fff;
    font-size: 25px;
    line-height: 42px;
}

.pro-title {
    color: #5a5a5a;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}

.product-list .price {
    color: #fc5959;
    font-size: 15px;
}

.pro-img-details {
    margin-left: -15px;
}

.pro-img-details img {
    width: 100%;
}

.pro-d-title {
    font-size: 16px;
    margin-top: 0;
}

.product_meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
}

.product_meta span {
    display: block;
    margin-bottom: 10px;
}

.product_meta a,
.pro-price {
    color: #fc5959;
}

.pro-price,
.amount-old {
    font-size: 18px;
    padding: 0 10px;
}

.amount-old {
    text-decoration: line-through;
}

.quantity {
    width: 140px;
}

.pro-img-list {
    margin: 10px 0 0 -15px;
    width: 100%;
    display: inline-block;
}

.pro-img-list a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pro-d-head {
    font-size: 18px;
    font-weight: 300;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    top: 17%;
}

.modal-open {
    overflow: visible;
}

.modal-text {
    padding-right: 10px;
    padding-left: 10px;
}

.modal-text-paragraph {
    text-align: justify;
}

a.btn.btn-white.pro-title {
    background: rgba(199, 255, 161, 0.5);
    margin-top: 10px;
    color: black;
    font-weight: 400;
}

a.btn.btn-white.pro-title:hover {
    background: rgba(199, 255, 161, 1);
}

.form-group label {
    font-weight: 500;
    margin-bottom: 15px;
    /* margin-top: 20px; */
}

.form-check-label label {
    font-weight: 300;
    /* margin-bottom: 0;
    margin-top: 0; */
}

.tea-filter,
.coffee-filter {
    display: none;
}

.prod-body {
    cursor: pointer;
}

.top-bar {
    background: #99bd03;
    color: #fff;
    font-size: 0.9rem;
}

.top-bar .contact-info {
    margin-right: 20px;
}

.top-bar ul {
    margin-bottom: 0;
}

.top-bar p {
    margin-bottom: 0;
    font-weight: 300;
}

.top-bar .contact-info a {
    font-size: 0.8rem;
}

.top-bar ul.social-custom {
    margin-left: 20px;
}

.top-bar ul {
    margin-bottom: 0;
}

.top-bar a.login-btn i,
.top-bar a.signup-btn i {
    margin-right: 10px;
}

.top-bar ul.social-custom a:hover {
    /* background: #161616; */
    color: rgb(12, 12, 12);
}

.top-bar ul.social-custom a {
    text-decoration: none !important;
    font-size: 0.7rem;
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    margin: 0;
}

a:focus,
a:hover {
    color: #348e7b;
    text-decoration: underline;
}

.top-bar a.login-btn,
.top-bar a.signup-btn {
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none !important;
    font-size: 0.75rem;
    font-weight: 700;
    margin-right: 10px;
}

.navigation {
    height: 100px;
    border-bottom: 3px solid #99bd03;
    background-color: white;
}

.nav-text-wrapper {
    color: black;
}

.nav-link {
    position: relative;
}

.nav-link:hover {
    text-decoration: none;
}

.nav-link::after {
    display: block;
    position: absolute;
    bottom: -30%;
    left: 0;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #99bd03;
    visibility: hidden;
    transition: all 0.3s ease;
    transform-origin: bottom left;
}

.nav-link:hover::after {
    display: block;
    position: absolute;
    bottom: -30%;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #99bd03;
    visibility: visible;
    transform-origin: bottom left;
}

.nav-link:hover .nav-text-wrapper {
    color: #99bd03;
    transition: all 0.3s ease;
}

.btn-shop {
    background-color: transparent;
    border-radius: 5px;
    width: 50%;
    border: 1px solid #99bd03;
}

.shop-count {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    padding: 3px 5px;
    margin-left: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    background-color: #99bd03;
    color: white;
    margin-right: 30px;
}

.shop-count::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    width: 0;
    height: 0;
    margin-top: 4px;
    border-style: solid solid solid none;
    border-width: 5px 5px 5px medium;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-color: #99bd03;
}

.banner {
    width: 100%;
}

.banner-image {
    width: 100%;
    object-fit: cover;
}

.main {
    margin-top: 20px;
    height: 100%;
}

.aside {
    background-color: wheat;
    height: 100%;
}

.catalog {
    background-color: rgba(0, 255, 255, 0.507);
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.section-padding {
    padding: 30px 0;
}

.bottom {
    background-color: #303030;
}

.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}

.copyright a {
    color: #99bd03;
    margin-left: 3px;
    padding-right: 3px;
}

.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}

.copyright p span {
    color: #d1caca;
}

.bottom .copyright p,
.bottom .copyright a:hover {
    color: #6c6d83;
}

.w3-modal-content {
    border-radius: 5px;
}

.w3-display-topright {
    border-radius: 0 5px 0 0;
}

.pagination-main .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-text-paragraph-span {
    padding-left: 10px;
}

#id01,
#id02 {
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn.btn-secondary:hover {
    background-color: #d9d9d9;
}

.bottom.section-padding {
    padding: 10px 0;
}

.nav.justify-content-between {
    margin: 0 auto;
}

a.p-head.bestsellers {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(0, 255, 0, 0.5);
}

/* Modal shop-card */
.shop {
    display: none;
}

.shop::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    overflow: hidden;
}

.shopping-cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 750px;
    width: 100%;
    min-height: 223px;
    margin: 80px auto;
    background: #ffffff;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 25px;
    border-bottom: 1px solid #e1e8ee;
    padding: 20px 30px;
    color: #99bd03;
    font-weight: 500;
}

.item {
    height: 120px;
    display: flex;
    border-bottom: 1px solid #e1e8ee;
}

.buttons {
    position: relative;
}
.delete-btn {
    margin: 0 20px;
    display: inline-block;
    cursor: pointer;
    color: #fc5959;
}

.is-active {
    animation-name: animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: right;
    }
}

.image {
    /* margin-right: 50px; */
}

.description {
    /* padding-top: 10px; */
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484d;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}

.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939e;
}

.quantity {
    /* padding-top: 20px; */
}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #454d43;
    font-weight: 300;
}

.shopping-cart button[class*='btn'] {
    width: 30px;
    height: 30px;
    background-color: #e3eee18c;
    color: #99bd03;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.minus-btn img {
    margin-bottom: 3px;
}
.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline: 0;
}
.total-price {
    width: 83px;
    text-align: center;
    font-size: 16px;
    color: #fc5959;
    font-weight: 500;
}

.total-title,
.total-sum {
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding: 10px 20px;
}
.image {
    width: 100px;
}
.picture {
    width: 100%;
}

@media (max-width: 540px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image {
        object-fit: contain;
        /* width: 50%; */
    }
    .picture {
        object-fit: cover;
    }

    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }
}

.input-center {
    margin-top: 10px;
    display: inline-block;
}

.anime {
    transition: 0.5s ease-in-out;
}
